<div class="section-divider flex items-center gap-4">
    <div class="h-px flex-1 bg-gray-300"></div>
    <h3 class="text-lg font-medium">{{ 'enums.person-type.ORGANIZATION' | transloco }}</h3>
    <div class="h-px flex-1 bg-gray-300"></div>
</div>

<!-- Type d'organisation -->
<mat-form-field class="w-full">
    <mat-label>{{ TRANSLATION_PREFIX + 'fields.organization-type' | transloco }}</mat-label>
    <mat-select [formControl]="form.controls.organizationType">
        <mat-option *ngFor="let type of organizationTypes | sortAlphabetically: 'enums.organization-type.'" [value]="type">
            {{ 'enums.organization-type.' + type | transloco }}
        </mat-option>
    </mat-select>
</mat-form-field>

<!-- SIRET et TVA -->
<div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
    <mat-form-field>
        <mat-label>{{ TRANSLATION_PREFIX + 'fields.siret' | transloco }}</mat-label>
        <input matInput type="number" [formControl]="form.controls.siret" />
    </mat-form-field>

    <mat-form-field>
        <mat-label>{{ TRANSLATION_PREFIX + 'fields.vat' | transloco }}</mat-label>
        <input matInput [formControl]="form.controls.vat" />
    </mat-form-field>
</div>

<!-- Coordonnées bancaires -->
<app-bank-details-form [form]="form.controls.bankDetails"></app-bank-details-form>
