rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Fonction pour vérifier si l'utilisateur est authentifié
    function isAuthenticated() {
      return request.auth != null;
    }
    
    // Règles de base pour restreindre l'accès
    match /{document=**} {
      allow read, write: if isAuthenticated();
    }
  }
}

// Utiliser firebase deploy --only firestore:rules pour déployer les règles
// TODO: Ajouter les règles de sécurité pour la production

