<div class="h-full w-full p-6 sm:p-10">
    <div class="border-gray-300mat-drawer-container bg-card h-full flex-auto rounded-2xl border-2 border-dashed dark:bg-transparent">
        @if (hasRole(TypeRole.ADMIN)) {
            <div class="bg-card flex h-full flex-col dark:bg-transparent">
                <!-- Header -->
                <div class="px-6 md:px-8">
                    <!-- Title -->
                    <div class="py-8">
                        <div class="text-4xl font-extrabold leading-none tracking-tight">{{ TRANSLATION_PREFIX + 'mon-equipe' | transloco }}</div>
                        <div class="text-secondary ml-0.5 font-medium">{{ TRANSLATION_PREFIX + 'membres' | transloco: { count: users().length } }}</div>
                    </div>

                    <!-- Form -->
                    <form class="flex flex-row gap-4" [formGroup]="form">
                        <mat-form-field class="flex-1" hideRequiredMarker>
                            <mat-label>{{ TRANSLATION_PREFIX + 'email' | transloco }}</mat-label>
                            <input matInput formControlName="email" type="email" />
                        </mat-form-field>

                        <mat-form-field class="flex-1" hideRequiredMarker>
                            <mat-label>{{ TRANSLATION_PREFIX + 'mot-de-passe' | transloco }}</mat-label>
                            <input matInput formControlName="password" type="text" />
                        </mat-form-field>

                        <div class="flex flex-1 items-center gap-4">
                            <mat-form-field class="flex-1" hideRequiredMarker>
                                <mat-label>{{ TRANSLATION_PREFIX + 'roles' | transloco }}</mat-label>
                                <mat-select formControlName="roles" multiple>
                                    @for (role of roles; track role) {
                                        <mat-option [value]="role" [disabled]="role === TypeRole.ADMIN">
                                            {{ 'enums.type-role.' + role | transloco }}
                                        </mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>

                            <button mat-icon-button type="button" class="bg-primary hover:bg-primary-700" (click)="addTeamMember()">
                                <mat-icon svgIcon="heroicons_outline:plus" class="text-white"></mat-icon>
                            </button>
                        </div>
                    </form>
                </div>

                <!-- Content -->
                <div class="flex-auto px-6 py-8 md:px-8">
                    <div class="user-list flex flex-col">
                        @for (user of users() | sortByRole: TypeRole.ADMIN; track user.id) {
                            <div class="border-b">
                                <app-user-card
                                    [user]="user"
                                    [showDeleteButton]="user.roles.indexOf(TypeRole.ADMIN) === -1"
                                    (roleChange)="updateUserRole($event)"
                                    (delete)="deleteUser($event)" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
