<div class="flex min-w-0 flex-auto flex-col items-center sm:justify-center">
    <div class="w-full px-4 py-8 sm:bg-card sm:w-auto sm:rounded-2xl sm:p-12 sm:shadow">
        <div class="mx-auto w-full max-w-80 sm:mx-0 sm:w-80">
            <div class="mx-auto w-12">
                <img src="images/logo/Logo_Tekuno.png" />
            </div>

            <div class="mt-8 text-center text-4xl font-extrabold leading-tight tracking-tight">{{ TRANSLATION_PREFIX + 'deconnexion' | transloco }}</div>
            <div class="mt-0.5 flex justify-center font-medium">
                @if (countdown > 0) {
                    {{ TRANSLATION_PREFIX + 'redirection-dans' | transloco }}
                    {{ countdown | i18nPlural: countdownMapping }}
                }

                @if (countdown === 0) {
                    {{ TRANSLATION_PREFIX + 'redirection-terminee' | transloco }}
                }
            </div>

            <div class="text-secondary mt-8 text-center text-md font-medium">
                <span>{{ TRANSLATION_PREFIX + 'aller-a' | transloco }}</span>
                <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['/sign-in']">{{ TRANSLATION_PREFIX + 'se-connecter' | transloco }}</a>
            </div>
        </div>
    </div>
</div>
