/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

.success-snackbar {
    --mdc-snackbar-container-color: theme('colors.green.800');
}

.error-snackbar {
    --mdc-snackbar-container-color: var(--fuse-warn);
}

.section-divider {
    @apply mb-8 mt-2;
}

.hide-number-spinners {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &[type='number'] {
        -moz-appearance: textfield;
    }
}

.mat-mdc-form-field {
    &.mat-form-field-invalid {
        @apply mb-2;
    }
}
