@if ({ currentNavigation: currentNavigation$ | async, isAuthenticated: isAuthenticated$ | async }; as obs) {
    @switch (layout) {
        @case (TypeLayout.EMPTY) {
            <app-empty-layout></app-empty-layout>
        }
        @case (TypeLayout.MODERN) {
            <app-modern-layout [currentNavigation]="obs.currentNavigation" [isAuthenticated]="obs.isAuthenticated"></app-modern-layout>
        }
        @case (TypeLayout.CLASSIC) {
            <app-classic-layout [currentNavigation]="obs.currentNavigation" [isAuthenticated]="obs.isAuthenticated"></app-classic-layout>
        }
        @case (TypeLayout.COMPACT) {
            <app-compact-layout [currentNavigation]="obs.currentNavigation" [isAuthenticated]="obs.isAuthenticated"></app-compact-layout>
        }
    }
}

<app-settings></app-settings>
