@switch (layout) {
    @case (TypeLayout.EMPTY) {
        <app-empty-layout></app-empty-layout>
    }
    @case (TypeLayout.MODERN) {
        <app-modern-layout
            [currentNavigation]="currentNavigation()"
            [isAuthenticated]="isAuthenticated()"
            [isScreenSmall]="isScreenSmall()"></app-modern-layout>
    }
    @case (TypeLayout.CLASSIC) {
        <app-classic-layout
            [currentNavigation]="currentNavigation()"
            [isAuthenticated]="isAuthenticated()"
            [isScreenSmall]="isScreenSmall()"></app-classic-layout>
    }
    @case (TypeLayout.COMPACT) {
        <app-compact-layout
            [currentNavigation]="currentNavigation()"
            [isAuthenticated]="isAuthenticated()"
            [isScreenSmall]="isScreenSmall()"></app-compact-layout>
    }
}
@if (isAuthenticated()) {
    <app-settings></app-settings>
}
