.settings {
    position: static;
    display: block;
    flex: none;
    width: auto;
}

@media (min-width: 1280px) {
    .empty-layout + .settings .settings-cog {
        right: 0 !important;
    }
}

.settings-cog {
    position: fixed;
    right: 0;
    z-index: 90;
    display: flex;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 0 0.5rem;
    background-color: rgba(255, 0, 0, 0.9);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.icon-size-5 {
    font-size: 1.25rem;
}

.icon-size-7 {
    font-size: 1.75rem;
}
